@font-face {
  font-family: 'doracle';
  src: url('/assets/font.woff2') format('woff2'),
      url('/assets/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* { box-sizing: border-box; }

body {
	background: #ffeede;
	color: #545454;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px;
	margin: 0;
	scroll-behavior: smooth;
	background: #ffeede url('/assets/bg.jpeg') no-repeat center center; 
	background-size: auto 100vh;
	background-attachment: fixed;
	text-shadow: 0 0 1px #b09086;
}

@media (min-width: 936px) {
	body {
		background-position: 100% center;
	}
}

a { 
	color: currentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6,p { margin: 0 }

h1,h2,h3,h4,h5,h6 {
	font-family: "doracle", sans-serif;
	font-weight: normal;
	letter-spacing: 0.1rem;
}

h1 { font-size: 3.4rem; }
h2 { font-size: 2.5rem; }

p { line-height: 1.4; }

.Button {
	padding: 1rem 2rem;
	font: inherit;
	color: inherit;
	background: white;
	border-radius: 2rem;
	text-align: center;
	transition: background 0.1s ease-in, color 0.1s ease-in;
}

.Button:hover {
	background: rgba(16, 15, 240, 0.9);
	backdrop-filter: blur(10px);
	text-decoration: none;
	color: white;
}

.Button--youtube {
	position: fixed;
	z-index: 1;
	bottom: 1rem;
	left: 0;
	border-radius: 0;
	background: rgba(16, 15, 240, 0.8);
	font-weight: bold;
	text-shadow: 0 0 1px white;
	color: white;	
	font-size: 1.3rem;
	letter-spacing: 0.05rem;
}

@media (min-width: 936px) {
	.Button--youtube {
		top: 50%;
		bottom: auto;
	}
}

img { display: inline-block; max-width: 100%; }
.Image--round {
	border-radius: 100%;
	overflow: hidden;
}
.Image--shadow {
	box-shadow: 0rem 1rem 2rem 0rem #100ff0;
	border-radius: 3px;
}

.Rows > * { padding: 1rem }
@media (max-width: 936px) {
	.Rows > * { 		
		width: auto !important 
	}
}
@media (min-width: 936px) {
	.Rows { display: flex; }
	.Rows > * { min-width: 0; flex: 1; padding: 2rem; }
}

.Section {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Section-content {
	width: 100%;
	max-width: 936px;
	margin: 0 auto;
	padding: 1rem;	
}

Spacer { height: 1rem; display: block;}
Spacer[size="1"] { height: 1rem; }
Spacer[size="2"] { height: 2rem; }
Spacer[size="3"] { height: 3rem; }
Spacer[size="4"] { height: 4rem; }
Spacer[size="6"] { height: 6rem; }
Spacer[size="8"] { height: 8rem; }


.Nav {
	text-align: center;
	position: fixed;
	top: 1rem;
	z-index: 2;
	width: 100%;	
}
.Nav a { 
	display: inline-block; 
	padding: 0.1rem 0.5rem;
	margin: 0 0.1rem;
	background: rgba(255, 238, 222, 0.8);
	backdrop-filter: blur(100px);
	font-weight: bold;
	border-radius: 0.2rem;	
}

.Social {
	display: inline-flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.Social li {
	padding: 0;
	margin: 0.5em;
}

.Social a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border:  1px solid rgba(16, 15, 240, 0.9);
	border-radius: 100%;
	width: 3em;
	height: 3em;
	transition: color 0.1s ease-in;
}

.Social a:hover {
	color: rgba(16, 15, 240, 0.9);
}

.Social svg {
	fill: currentColor;
	width: 60%;
	height: 60%
}

/** 
 * Gradient Section 
 */
.Section--gradient {
	/*background-image: linear-gradient(178deg, #100FF0 0%, #FA028B 100%);*/
	background-image:  linear-gradient(178deg, rgba(16, 15, 240, 0.9) 0%, rgba(250, 2, 139, 0.9) 100%);
	backdrop-filter: blur(10px);
	color:  white;
}
/*
 * End Gradient Section 
 **/


/** 
 * Top Section 
 */

.Section--top .Rows > * {
	min-height: 100vh;
	min-height: calc(100vh - 2rem);
}

.Section--top .Rows > :first-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 238, 222, 0.7);
	backdrop-filter: blur(1px);
}

@media (min-width: 936px) {	
	.Section--top .Rows > :first-child {
		align-items: flex-start;
		background: none;
	}
}

/*
 * End Top Section 
 **/


/**
 * Info Section
 */
.Section--info {
	text-align: center;
}

@media (min-width: 936px) {	
	.Section--info {
		text-align: initial;
	}
}

.Section--info .Image--round {	
	max-width: 250px;
	transition: transform 0.4s ease-in-out;
}

.Section--info .Image--round:hover {
	transform: rotateZ(-7deg);
}
/*
 * End Info Section 
 **/

/**
 * Cards Section
 */
.Section--cards {
	background: rgba(255, 238, 222, 0.8);
	backdrop-filter: blur(20px);
}

@media (min-width: 936px) {	
	.Section--cards img {
		height: 100%;
	}
}
/*
 * End Cards Section 
 **/

/**
 * About Section
 */
.Section--about {
	text-align: center;
	background: url(https://c.tenor.com/QRJknyzv2rAAAAAC/stars-universe.gif) #383e4a no-repeat;
	background-size: cover;
	color: white;
}

@media (min-width: 936px) {	
	.Section--about {
		text-align: initial;
	}
}

.Section--about img {
	max-width: 250px;
}
/*
 * End About Section 
 **/


/**
 * Readings Section
 */
.Section--readings {
	text-align: center;
}

.Section--readings .Rows {
	background: rgba(255, 238, 222, 0.7);
	backdrop-filter: blur(20px);
	border-radius: 3px;
}
/*
 * End Readings Section 
 **/